MONGODB_URL = 'mongodb://localhost:27017/filmes-db'
SECRET=MIICWwIBAAKBgGI5MJWFZHm6/r7WuizdF1EJ7QiR66VX0wVeD4JLjKdcre8rCAXTahJrHNbD9HQBGTUbLhHyxC3QTGZQPqyu/fONsdrHnhLKlgLxbsNEAOeCbyDDcCG7K0RSlcBfB6bZtTbCQO4Zht8ZsRVHEIftdvmZSJjwRSN/8yTpvNmpPb1tAgMBAAECgYBMDpKzRO4vYH+/0E+rS6uxYak8mJlKl73cCyChONT6B0bbyotUz4b0KiLTnjqc1Pjq6Vf8J+qGuyNdmkdduccEKaQTrTlaMkEPjpwyXi0QHKfZeItFijcdmjtWXEWjdA4jPocPohvlM+UPHclC0ffcJps4ijrOT1+Uf6Par4bk4QJBAKjm9f3pEzn30smDbi0AT0Z29XzqunxeVIQSzaPa+atRhJdNoshXlkROLpyprDgJloPPomBk6Y7i6iQkAP05ImkCQQCU38/r+ujldQ9nHVhRCJqlom4Ivu6PYp88slrJ7M7KQ//AOX1NtM8wNWX856UIp79wTJwnpaAKAS6c+dPrAJplAkBsdDGMovbniAxfvPcoCkTdOFGVrpukdGXMkM5e4qLisOt0xDM8dZFVtuYTTpf5O57ccJ0RTHr0dxxlrIC+GMvRAkEAiVIk9NOdLcIbcg60XxKjqzK3cmPDowjiPtd5PRas7A9rAcFFnn6wOhSXPX/iT6iDwi84Pq3cgD305CDhY7xLrQJACz0cPSrd//AYzVpvMFgFcL8vZRtpvuk2zfijZiIZTvvjl74XRStCzCLI5WCPPsTaEzfENg0qBi/1yEvxChQT2g==